<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAHA</title>
</head>
<body>

<!--过滤器-->
<!--{{ person.first_name|upper }}-->
{{ person.first_name }}

<!--标签-->
{% if person.first_name == 'andy' %}
444
{% else %}
444
{% endif %}
<h1>我的第一个标题</h1>

<p>我的第一个段落。</p>
<a href="https://www.runoob.com">这是一个链接</a>
{% load static %}
<img src = "{% static 'imges/logo.png' %}" width="258" height="39" />
<!--<body background="{% static 'imges/logo.png' %}"></body>-->


</body>
</html>